nav{
    list-style: none;
    background-color: #3A76A1;
    height: 90px;
    width: 100%;
}
.title{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 80px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 5px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 40px;
}
nav ul li a{
    color: white;
    font-size: 17px;
}
a:hover{
    background-color: black;
}
.home{
    background-image: url("../images/home_2pizza.jpeg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.home-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
}
.ourstory{
    
    width: 100%;
    height: 500px;
}  
#photo{
    float: left;
}
.description{
    padding: 15px;
    margin-left: 250px;
    font-size: 20px;
    text-align: center;
}
#ordern{
    background-image: url("../images/order_page_piza.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}